@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root{
    --primary-color:#60A5FA;
}


body{
    font-family: 'Montserrat';
}

hr{
   margin: 2rem 0rem;
}

/*containers*/

.container{
    padding-left: 1rem;
    padding-right: 1rem;
}

.container-center{
    max-width: 600px;
    margin:auto;
}

/* links */
.link{
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.link-primary{
    background-color:var(--primary-color);
    border-radius: 0.5rem;
    color: white;
}

.link-secondary{
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
    color:var(--primary-color);

}

/* for the list items */

.list-non-bullet{
    list-style: none;
}

.list-item-inline{
    display:inline;
    padding:0rem 0.5rem;
}

/* for the navigation bar */
.navigation{
    background-color: var(--primary-color);
    color: white;
}

.navigation .link{
    color: white;
}